.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

.about__me {
  width: 350px;
  height: 340px;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: center;
}

.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.about__me-image:hover {
  transform: rotate(0);
}

.aboutImg {
  width: 350px;
  height: 350px;
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.about__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  width: 250px;
  height: 125px;
  padding-top: 10px;
  text-align: center;
  transition: var(--transition);
}

.about__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.about__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.about__card h5 {
  font-size: 0.95rem;
}

.about__card small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.about__content p {
  margin-top: 2rem;
  margin-bottom: 2.6rem;
  color: var(--color-light);
}

.about h5 {
  margin-top: 10rem;
  margin-left: 37.5rem;
}

.about h2 {
  margin-left: 36.5rem;
  margin-bottom: 4rem;
}

/* MEDIUM DEVICES */

@media screen and (max-width: 1024px) {
  /* .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    width: 50%;
    margin-top: 2rem;
    margin-left: 10rem;
    margin-bottom: 4rem;
  }

  .about__cards {
    margin-left: 5rem;
  }
  .about__content p {
    margin-left: 5rem;
    text-align: center;
  }

  .about__content a {
    margin-left: 22rem;
  }

  .about h5 {
    margin-left: 24rem;
  }

  .about h2 {
    margin-left: 23rem;
  } */
}

/* SMALL DEVICES */

@media screen and (max-width: 600px) {
  /* .about h5 {
    margin-left: 16rem;
    margin-bottom: 1rem;
  }
  .about h2 {
    margin-left: 15rem;
  }

  .about__me {
    width: 65%;
    margin-top: 10px;
    margin-left: 6rem;
    margin-bottom: 3rem;
  }

  .about__cards {
    margin-left: 1rem;
  }

  .about__content p {
    margin-left: 1rem;
    text-align: center;
  }

  .about__content a {
    margin-left: 15rem;
  } */
}
